<a>
  <div class="card-body">
    <div class="card-design" routerLink="/createQuestion/">
      <div>
        <app-icone
          [iconName]="'hourglass-split'"
          [iconColor]="'grey'"
          [iconSize]="2"
        ></app-icone>
      </div>
      <div>
        <h4>Histoire <br />Geographie</h4>
      </div>
      <div>
        <app-icone
          [iconName]="'globe-europe-africa'"
          [iconColor]="'grey'"
          [iconSize]="2"
        ></app-icone>
      </div>
    </div>
  </div>
</a>
