.design-footer {
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  height: 4rem;
  border-top: 2px solid black;
}
.footer_text {
  padding-left: 2em;
  font-size: small;
  font-style: italic;

  display: flex;
  align-items: center;
}
/*
.create-design {
  width: 50%;
  height: 100%;
  background-color: #a488f5;
}
.play-design {
  width: 50%;
  height: 100%;
  background-color: #c4ed6d;
}
*/
