<div class="design-fond">
  <div class="create-design">
    <div>
      <img
        class="logo"
        [routerLink]="['']"
        routerLinkActive=""
        src="/assets/quizify_logo.png"
        height="60em"
        width="auto"
      />
    </div>
    <div class="esp-crea" routerLink="**" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'pencil'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Création
      </p>
    </div>
    <div class="esp-jeu" routerLink="**" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'playstation'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Espace Joueur
      </p>
    </div>
    <div class="esp-stat" routerLink="**" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'percent'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Statistiques ...
      </p>
    </div>
  </div>
  <div class="play-design">
    <div class="verte">
      <ul class="nav nav-tabs design-menu">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
          >
            <app-icone
              [iconName]="'list'"
              [iconSize]="2.5"
              [iconColor]="'grey'"
            ></app-icone
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="**" routerLinkActive=""
                >Espace Création</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="**" routerLinkActive=""
                >Espace Joueur</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="**" routerLinkActive=""
                >Statistique</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- <nav
    class="navbar navbar-expand-sm bg-body-tertiary shadow-lg rounded sticky-top"
  >
    <a routerLink="**"><img class="logo" src="/assets/quizify_logo.png" /></a>
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="**"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Espace Création</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="**" routerLinkActive="active"
              >Espace Jeu</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="**" routerLinkActive="active"
              >Stats</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>-->
