<div class="design-fond">
  <div class="create-design">
    <div>
      <img
        class="logo"
        [routerLink]="['']"
        routerLinkActive=""
        src="/assets/quizify_logo.png"
        height="60em"
        width="auto"
      />
    </div>
    <div class="esp-crea" routerLink="creation" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'pencil'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Création
      </p>
    </div>
    <div class="esp-jeu" routerLink="quiz" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'playstation'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Espace Joueur
      </p>
    </div>
    <div class="esp-stat" routerLink="stats" routerLinkActive="">
      <p>
        <app-icone
          [iconName]="'percent'"
          [iconSize]="1"
          [iconColor]="'grey'"
        ></app-icone>
        Statistiques ...
      </p>
    </div>
  </div>
  <div class="play-design">
    <div class="verte">
      <ul class="nav nav-tabs design-menu">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-expanded="false"
          >
            <app-icone
              [iconName]="'list'"
              [iconSize]="2.5"
              [iconColor]="'grey'"
            ></app-icone
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="creation" routerLinkActive=""
                >Espace Création</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="quiz" routerLinkActive=""
                >Espace Joueur</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="stats" routerLinkActive=""
                >Statistique</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
