#play:hover {
  cursor: pointer;
  background-image: url(/assets/play_btn_hover.png);
}
#create:hover {
  cursor: pointer;
  background-image: url(/assets/create_btn_hover.png);
}
.design-fond {
  width: 100%;
  display: flex;
}
.create-design {
  width: 50%;
  height: 690px;
  background-color: #a488f5;

  display: flex;
  justify-content: center;
  align-items: center;
}
.play-design {
  width: 50%;
  height: 690px;
  background-color: #c4ed6d;

  display: flex;
  justify-content: center;
  align-items: center;
}
