.design-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* revient à la ligne quand la ligne depasse une certaine longueur*/
}
.container-card {
  padding-top: 1%;

  justify-content: space-around;
  background-color: #a488f5;

  height: 100%;
  width: 100%;
}
.titre-h3,
.titre-h6 {
  font-family: "irish";
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-unique {
  font-style: italic;
  font-weight: lighter;
  font-family: "irish";
}

@media (min-width: 1200px) {
  .one-plant {
    width: 30%;
  }
}
