<div>
    <h1>Statistiques</h1>
    <div class="d-flex">
        <div class="container">
            <div class="container-postit"></div>
            <app-post-stats class="one-stat" *ngFor="let creationData of creationToDisplay" [creation]="creationData"
                [numberOfCategories]="numberOfCategories" [numberOfQuestions]="numberOfQuestions"></app-post-stats>
            <app-post-stats class="one-stat" *ngFor="let statsData of statToDisplay"
                [stats]="statsData"></app-post-stats>
            <app-post-stats class="one-stat" *ngIf="games" [games]="games"></app-post-stats>



            <button class="border border-primary-subtle rounded-1" id="bottomCenterButton"
                (click)="clearData()">Réinitialiser</button>
            <button class="border border-primary-subtle rounded-1" id="bottomRightButton">Voir plus</button>
        </div>