<div class="vert">
  <div class="container text-center">
    <h1 *ngIf="theme" class="pt-3 mb-5">{{ theme.libelle }}</h1>
    <div *ngIf="questionsSelected">
      <p *ngFor="let question of questionsSelected">
        {{ question.libelleQuestion }}
      </p>
    </div>
    <div class="bg-secondary-subtle p-1 m-3">
      <p>Questions</p>
      <p>reponse</p>
      <p>reponse</p>
      <p>reponse</p>
    </div>
    <div class="bg-secondary-subtle p-1 m-3">
      <p>Questions</p>
      <p>reponse</p>
      <p>reponse</p>
      <p>reponse</p>
    </div>
    <div class="bg-secondary-subtle p-1 m-3">
      <p>Questions</p>
      <p>reponse</p>
      <p>reponse</p>
      <p>reponse</p>
    </div>
    <button class="btn btn-success m-5" routerLink="/quiz/5/results">
      Valider
    </button>
  </div>
</div>
