<div class="design-global">
  <div class="titre-h3">
    <div>
      <h3 *ngIf="category">{{ category.libelle }}</h3>
    </div>
    <button class="trash" type="submit">
      <app-icone
        [iconName]="'trash'"
        [iconSize]="1.5"
        [iconColor]="'white'"
      ></app-icone>
    </button>
    <button class="edit" type="submit">
      <app-icone
        [iconName]="'pencil'"
        [iconSize]="1.5"
        [iconColor]="'black'"
      ></app-icone>
    </button>
  </div>
  <div class="titre-h6">
    <h6>
      N’oublie pas qu’il te faut minimum trois questions pour que ton thème soit
      disponible dans le quiz!
    </h6>
  </div>
  <div class="container" *ngIf="question">
    <form (ngSubmit)="submitForm()" [formGroup]="formEdit" class="form-design">
      <div class="questions">
        <div>
          <label for="question" class="question-modifiable">
            Question 1 :</label
          >
        </div>
        <div class="input-button">
          <input
            type="text"
            formControlName="question1"
            id="idQuestion1"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formEdit.controls['idQuestion1'].touched &&
                formEdit.controls['idQuestion1'].invalid
            }"
            aria-labelledby="invalid-feedback-input-name"
            [placeholder]="question"
          />
          <button class="trash" type="submit">
            <app-icone
              [iconName]="'trash'"
              [iconSize]="1.5"
              [iconColor]="'white'"
            ></app-icone>
          </button>
          <button class="edit" type="submit">
            <app-icone
              [iconName]="'pencil'"
              [iconSize]="1.5"
              [iconColor]="'black'"
            ></app-icone>
          </button>
        </div>
        <div>
          <label for="question" class="question-modifiable">
            Question 2 :</label
          >
        </div>
        <div class="input-button">
          <input
            type="text"
            formControlName="question2"
            id="idQuestion2"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formEdit.controls['idQuestion1'].touched &&
                formEdit.controls['idQuestion1'].invalid
            }"
            aria-labelledby="invalid-feedback-input-name"
            [placeholder]="question"
          /><button class="trash" type="submit">
            <app-icone
              [iconName]="'trash'"
              [iconSize]="1.5"
              [iconColor]="'white'"
            ></app-icone>
          </button>
          <button class="edit" type="submit">
            <app-icone
              [iconName]="'pencil'"
              [iconSize]="1.5"
              [iconColor]="'black'"
            ></app-icone>
          </button>
        </div>
        <div>
          <label for="question" class="question-modifiable">
            Question 3 :</label
          >
        </div>
        <div class="input-button">
          <input
            type="text"
            formControlName="question3"
            id="idQuestion3"
            class="form-control"
            [placeholder]="question"
          /><button class="trash" type="submit">
            <app-icone
              [iconName]="'trash'"
              [iconSize]="1.5"
              [iconColor]="'white'"
            ></app-icone>
          </button>
          <button class="edit" type="submit">
            <app-icone
              [iconName]="'pencil'"
              [iconSize]="1.5"
              [iconColor]="'black'"
            ></app-icone>
          </button>
        </div>
        <div>
          <label for="question" class="question-modifiable">
            Question 4 :</label
          >
        </div>
        <div class="input-button">
          <input
            type="text"
            formControlName="question4"
            id="idQuestion4"
            class="form-control"
            [placeholder]="question"
          /><button class="trash" type="submit">
            <app-icone
              [iconName]="'trash'"
              [iconSize]="1.5"
              [iconColor]="'white'"
            ></app-icone>
          </button>
          <button class="edit" type="submit">
            <app-icone
              [iconName]="'pencil'"
              [iconSize]="1.5"
              [iconColor]="'black'"
            ></app-icone>
          </button>
        </div>
      </div>
      <button class="validation">
        <app-icone
          [iconName]="'check2-square'"
          [iconSize]="2.5"
          [iconColor]="'green'"
        ></app-icone>
      </button>
    </form>
  </div>
</div>
