<div class="design-global">
  <div class="titre-h3">
    <div>
      <h1 *ngIf="category">{{ category.libelle }}</h1>
    </div>
    <button class="trash" type="submit">
      <app-icone
        [iconName]="'trash'"
        [iconSize]="1.5"
        [iconColor]="'white'"
      ></app-icone>
    </button>
    <button class="edit" type="submit">
      <app-icone
        [iconName]="'pencil'"
        [iconSize]="1.5"
        [iconColor]="'black'"
      ></app-icone>
    </button>
  </div>
  <div class="titre-h6">
    <h6>
      N’oublie pas qu’il te faut minimum trois questions pour que ton thème soit
      disponible dans le quiz!
    </h6>
  </div>

  <div class="container" *ngIf="questionDisplayed">
    <div class="questions-div" *ngFor="let q of questionDisplayed">
      <div>
        <h2 for="question" class="question">Question :</h2>
        <div class="question-libelle">
          {{ q.libelleQuestion }}
        </div>
        <div class="input-button">
          <button
            class="trash"
            type="button"
            value="delete-button"
            id="delete-button"
            (click)="deleteQuestionButton(q.id)"
          >
            <app-icone
              [iconName]="'trash'"
              [iconSize]="1.5"
              [iconColor]="'white'"
            ></app-icone>
          </button>
          <button
            class="edit"
            type="submit"
            value="edit-button"
            id="edit-button"
            routerLink="/creerQuestion/{{ category.id }}"
          >
            <app-icone
              [iconName]="'pencil'"
              [iconSize]="1.5"
              [iconColor]="'black'"
            ></app-icone>
          </button>
        </div>
      </div>
    </div>
    <div class="valid-button">
      <div>
        <button class="validation" type="button" (click)="ouvrirModal()">
          <app-icone
            [iconName]="'check2-square'"
            [iconSize]="1.5"
            [iconColor]="'green'"
          ></app-icone>
        </button>
      </div>

      <div class="creer-question">
        <div><h5>... Tu as de meilleures questions ?!</h5></div>
        <div>
          <button
            class="create-question"
            routerLink="/creerQuestion/{{ category.id }}"
          >
            <app-icone
              [iconName]="'pencil-square'"
              [iconSize]="1.5"
              [iconColor]="'green'"
            ></app-icone>
            Créer les... !
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<dialog>
  <div *ngIf="category">
    <span
      >Notre Categorie
      <h3>{{ category.libelle }}</h3>
      vous a plut.
    </span>
  </div>
  <button type="button" routerLink="/quiz/{{ category.id }}">
    Jouons 😃 !
  </button>
  <button type="button" (click)="closeModal()">Fermer</button>
</dialog>
