.design-global {
  height: 100%;
  background-color: #a488f5;
  padding-top: 1%;
  padding-bottom: 9%;
}
.questions-div {
  margin-bottom: 4%;
}
.question {
  font-size: larger;
  font-family: "irish";
  color: #c4ed6d;
}
.question-libelle {
  background-color: #e2e4dc;
  width: 100%;
  height: 110%;

  padding: 1%;

  margin: 0.7%;

  border-radius: 1em;
}
.input-button {
  display: flex;

  margin-bottom: 1%;

  float: right;
}
button {
  background-color: #c4ed6d;
  border: none;
  border-radius: 50px;
  margin: 0.7%;
}
.trash:hover {
  box-shadow: 2px 2px 2px 2px #c4ed6d;
}
.trash:active {
}
.edit:hover {
  box-shadow: 2px 2px 2px 2px rgb(61, 61, 61);
}
.trash:active {
}
.trash {
  background-color: rgb(61, 61, 61);
}
.edit,
.trash {
  margin: 2%;
}

.titre-h3 {
  font-family: "irish";
  color: #c4ed6d;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5%;
  margin-bottom: 1%;
}
.titre-h6 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;

  color: rgb(155, 64, 64);
  font-style: italic;

  background-color: #9587be;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  margin-bottom: 0.5%;

  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.validation {
  font-family: "irish";
  margin-top: 4%;
  width: 30%;
  float: right;
}
.create-question {
  width: 32%;
}
.create-question:hover {
  box-shadow: 2px 2px 2px 2px rgb(61, 61, 61);
}
h5 {
  font-family: "irish";
  font-size: x-large;
  color: #c4ed6d;
}
dialog {
  padding: 4%;

  border: none;
  border-radius: 5px;

  height: 25%;
  width: 45%;
}
h3 {
  font-family: "irish";
}
dialog .text {
  display: flex;
  margin-right: 5%;
}
dialog p {
  text-align: justify;
  margin-right: 5%;
}
dialog .text-button {
  display: flex;
}
dialog .button-rond {
  margin-left: 2%;
  display: flex;
  height: 4rem;
  width: 6rem;
}
dialog button {
  margin: 5%;
}
/* Permet d'afficher un fond derrière une fenetre modal*/
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.6;
}

.suppr-text-button {
  display: flex;
}
